<script setup lang="ts">
// import { RouterLink, RouterView } from "vue-router";
// import HelloWorld from "./components/HelloWorld.vue";
import MainView from "./views/MainView.vue";
</script>

<template>
  <!-- <HelloWorld msg="You did it!" /> -->
  <MainView />
</template>

<style scoped></style>
